#!/usr/bin/make -f
%:
	dh $@ --with python2

PYDIR=$(CURDIR)/debian/plinth/usr/lib/python2.7/plinth
override_dh_auto_install:
	dh_auto_install
	find $(PYDIR) -name \*.png -o -name \*.svg | xargs chmod -x

override_dh_installinit:
	dh_installinit --onlyscripts
