#!/usr/bin/make -f
%:
	dh $@ --with python2

DATADIR=$(CURDIR)/debian/plinth/usr/share/plinth
override_dh_auto_install:
	dh_auto_install
	find $(DATADIR) -name \*.png -o -name \*.svg | xargs chmod -x

override_dh_installinit:
	dh_installinit --onlyscripts
